/* Allow Tailwind utilities inside this CSS module */
@reference "../../index.css";

.content {
  > * {
    @apply px-12;
  }
  > * + * {
    @apply mt-20;
  }
  h1 {
    @apply text-32;
  }
  h2 {
    @apply text-24;
  }
  h3 {
    @apply text-20;
  }
  h4,
  h5,
  h6 {
    @apply text-16;
  }
  h1,
  h2 {
    @apply border-disabled border-b-2 pb-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  p {
    @apply text-16;
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  ul,
  ol {
    margin-left: 1em;
  }

  hr {
    @apply border-disabled border-t-2;
  }

  table {
    @apply w-full border-collapse;
  }

  th,
  td {
    @apply border-disabled text-16 border p-8;
  }

  th {
    @apply bg-surface-1 font-bold;
  }

  tr:nth-child(even) {
    @apply bg-surface-1/50;
  }

  blockquote {
    @apply border-primary bg-surface-1/50 border-l-4 pl-8;
  }

  :where(code):not(pre > code) {
    @apply rounded-4 bg-surface-1 text-14 px-4 py-2 font-mono;
  }

  pre:has(> code) {
    @apply rounded-4 bg-surface-1/50 text-14 block overflow-x-auto py-2 font-mono;
  }
}
