[submodule "frontend/octavio/local-modules/zenn-editor"]
	path = frontend/octavio/local-modules/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
[submodule "frontend/packages/zenn-editor"]
	path = frontend/packages/zenn-editor
	url = https://github.com/ictsc/zenn-editor.git
	branch = feature/add-checkbox-and-radio
