@tailwind base;
@tailwind components;
@tailwind utilities;

.container-ictsc {
    @apply max-w-[1024px];
    @apply mx-auto;
    @apply px-4;
    @apply pb-8;
}

.title-ictsc {
    @apply text-2xl;
    @apply font-bold;
}

.subtitle-ictsc {
    @apply text-xl;
    @apply font-bold;
}