name: Backend CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    working-directory: backend

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Restore Build Cache
        id: golangci-lint-build-cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/go-build
          key: golangci-lint-build-${{ hashFiles('backend/tools/go.sum') }}
          restore-keys: golangci-lint-build-
      - name: Restore golangci-lint cache
        id: golangci-lint-cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/golangci-lint
          key: golangci-lint-cache-${{ hashFiles('backend/**/*.go') }}
          restore-keys: golangci-lint-cache-
      - name: Run golangci-lint
        run: ./tools/run github.com/golangci/golangci-lint/v2/cmd/golangci-lint run --timeout=10m --path-prefix=backend --issues-exit-code=0
        working-directory: backend
      - name: Save Build Cache
        uses: actions/cache/save@v4
        if: >-
          always() && steps.golangci-lint-build-cache.outputs.cache-hit != 'true'
          && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        with:
          path: ~/.cache/go-build
          key: ${{ steps.golangci-lint-build-cache.outputs.cache-primary-key }}
      - name: Save golangci-lint cache
        uses: actions/cache/save@v4
        if: >-
          always() && steps.golangci-lint-cache.outputs.cache-hit != 'true'
          && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        with:
          path: ~/.cache/golangci-lint
          key: ${{ steps.golangci-lint-cache.outputs.cache-primary-key }}
  generation:
    name: Generation
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Restore Cache
        id: go-generate-cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/go-build
          key: go-generate-${{ hashFiles('backend/tools/go.sum') }}
          restore-keys: go-generate-
      - name: Go Generate
        run: go generate -x ./...
      - name: Save Cache
        uses: actions/cache/save@v4
        if: >-
          always() && steps.go-generate-cache.outputs.cache-hit != 'true'
          && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        with:
          path: ~/.cache/go-build
          key: ${{ steps.go-generate-cache.outputs.cache-primary-key }}
  test:
    name: Test
    needs: [test-go, test-schema]
    runs-on: ubuntu-latest
    steps:
      - run: echo
        working-directory: /
  test-go:
    name: Test Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - uses: actions/cache/restore@v4
        id: go-build-cache
        with:
          path: ~/.cache/go-build
          key: go-build-${{ hashFiles('backend/go.sum') }}
          restore-keys: |
            go-build-
      - name: Run Test
        run: go test -race -shuffle on -parallel 8 -v ./...
      - uses: actions/cache/save@v4
        if: >-
          always() && steps.go-build-cache.outputs.cache-hit != 'true'
          && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        with:
          path: ~/.cache/go-build
          key: ${{ steps.go-build-cache.outputs.cache-primary-key }}
  test-schema:
    name: Test Schema
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: ictsc
          POSTGRES_DB: ictscore
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      PGHOST: localhost
      PGPORT: "5432"
      PGUSER: ictsc
      PGPASSWORD: password
      PGDATABASE: ictscore
    steps:
      - name: Checkout Default Branch
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.repository.default_branch }}
      - name: Init DB
        run: cat schema.sql view.sql seed.sql | psql

      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: ./.github/actions/setup-go
      - name: Restore Cache
        id: sqldef-cache
        uses: actions/cache/restore@v4
        with:
          path: ~/.cache/go-build
          key: sqldef-cache-${{ hashFiles('backend/tools/go.sum') }}
          restore-keys: sqldef-cache-

      - name: Run Migration
        run: ./scripts/migrate

      - name: Save Cache
        uses: actions/cache/save@v4
        if: >-
          always() && steps.sqldef-cache.outputs.cache-hit != 'true'
          && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        with:
          path: ~/.cache/go-build
          key: ${{ steps.sqldef-cache.outputs.cache-primary-key }}
