name: Proto CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: proto
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install buf
        uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run buf
        uses: bufbuild/buf-action@v1
        with:
          input: proto
          format: true
          lint: true
          breaking: true
          breaking_against: https://github.com/ictsc/ictsc-regalia.git#branch=main,subdir=proto
