name: Spell Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  spell-check:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Run Spell Check
        uses: reviewdog/action-misspell@v1
        with:
          github_token: ${{ secrets.github_token }}
          locale: US
          exclude: |
            Dockerfile
            *.svg
            ./frontend/packages/proto
            package.json
            ./frontend/pnpm-lock.yaml
            ./backend/pkg/proto
            ./backend/.golangci.yaml
            **/go.mod
            **/go.sum
