name: Build Docker Images

on:
  workflow_call:
    inputs:
      push-ghcr:
        type: boolean
        default: false
      save-cache:
        type: boolean
        default: false
    outputs:
      result:
        value: ${{ jobs.build_and_push.outputs.result }}

jobs:
  build_and_push:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      result: ${{ steps.build_and_push.outputs.metadata }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/setup-qemu-action@v3

      - if: inputs.push-ghcr
        name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ inputs.push-ghcr && format('ghcr.io/{0}', github.repository) || '' }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=ref,event=pr
            type=sha
      - name: Build and Push Artifacts
        id: build_and_push
        uses: docker/bake-action@v6
        with:
          source: .
          push: ${{ inputs.push-ghcr }}
          files: |
            docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          # 基本的に main ブランチのキャッシュしか共有できないのでキャッシュの保存はオプトインにしておく
          set: |
            *.cache-from=type=gha
            ${{ inputs.save-cache && '*.cache-to=type=gha,mode=max' || '' }}
